
@{
    ViewBag.Title = "Tienda Online";
}

<div class="jumbotron">
    <h3>Administrador</h3>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    
        <h3>Bievenido al administrador de la tienda virtual "Prestobar"</h3>
        <p>
            En este sistema podra gestionar productos y categorias para exhibirse en la tienda virtual
        </p>
    
    
    </div>
    <div class="col-md-2"></div>
</div>