<!DOCTYPE html>
<html>
<head>
    <title>PrestoBar, Tienda Virtual de licores exclusivos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Prestobar, Licorería exclusiva en Ayacucho" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } 
    </script>
    <!-- css -->
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Resources/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Resources/css/listacarrito.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Resources/css/style_modal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Resources/css/font-awesome.css" rel="stylesheet">
    <!-- css -->

    <!-- js -->
    <script src="~/Resources/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Resources/js/move-top.js"></script>
    <script type="text/javascript" src="~/Resources/js/easing.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="container">
            <div class="w3l_offers">
                <p>Descuento hasta 20% <a href="products.html">Compra Ahora</a></p>
            </div>
            <div class="agile-login">
                <ul>
                    <li><a href="registered.html"> Crear Cuenta </a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="contact.html">Ayuda</a></li>

                </ul>
            </div>


            <div class="product_list_header">

                <!--  ==========  -->
                <!--  = Cart =  -->
                <!--  ==========  -->
                 
                   <button class="w3view-cart" id="paginas1" href="javascript:void(0)" data-toggle="modal" data-target="#responsive"><i id="nroProductosCarrito" class="fa fa-cart-arrow-down" aria-hidden="true">(0)</i>  </button>
                         
                        <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                         
                                            <div class="cart">
                                                <p id="totalCompraCarrito" class="dark-clr hidden-tablet">0.00</p>
                                            </div>
                                            <div class="open-panel">

                                                <div id="itemcarrito"></div>

                                                <div class="summary">
                                                    <div class="line">
                                                        <div class="row-fluid">
                                                            <div class="span6">TOTAL:</div>
                                                            <div id="totalCarrito" class="span6 align-right size-16">0.00</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="proceed">
                                                    <a href='@Url.Action("Comprar","Comprar")' class="btn btn-danger pull-right bold higher">Comprar <i class="icon-shopping-cart"></i></a>
                                                    <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                                                </div>
                                            </div>
    
                                </div>
                            <!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                       
                         <!-- /cart -->
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- Buscador -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>Pedidos en Línea  : (+051) 999 139 707</li>

                </ul>
            </div>
            <div class="w3ls_logo_products_left">
                <h1><a href="~/Home/index">PrestoBar</a></h1>
            </div>
            <div class="w3l_search">

                <form action="@Url.Action("Buscar", "Home")" method="get">

                    <!-- required="" -->
                    <input type="search" name="id" id="navSearchInput" placeholder="Buscar producto..." >
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navigation -->
    <div class="navigation-agileits">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "Home")" class="act">Inicio</a></li>
                    
                         <!-- Mega Menu -->
                        <li class="dropdown">
                            <!-- Whisky-->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Whisky<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Todo Whisky's</h6>
                                            <li><a href="groceries.html">Dals & Pulses</a></li>
                                            <li><a href="groceries.html">Almonds</a></li>
                                            <li><a href="groceries.html">Cashews</a></li>
                                            <li><a href="groceries.html">Dry Fruit</a></li>
                                            <li><a href="groceries.html"> Mukhwas </a></li>
                                            <li><a href="groceries.html">Rice & Rice Products</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <!-- Tequila-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tequila<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Todo Tequilas</h6>
                                            <li><a href="household.html">Cookware</a></li>
                                            <li><a href="household.html">Dust Pans</a></li>
                                            <li><a href="household.html">Scrubbers</a></li>
                                            <li><a href="household.html">Dust Cloth</a></li>
                                            <li><a href="household.html"> Mops </a></li>
                                            <li><a href="household.html">Kitchenware</a></li>
                                        </ul>
                                    </div>


                                </div>
                            </ul>
                        </li>

                        <!-- Vodka -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vodka<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Todo Vodka</h6>
                                            <li><a href="personalcare.html">Baby Soap</a></li>
                                            <li><a href="personalcare.html">Baby Care Accessories</a></li>
                                            <li><a href="personalcare.html">Baby Oil & Shampoos</a></li>
                                            <li><a href="personalcare.html">Baby Creams & Lotion</a></li>
                                            <li><a href="personalcare.html"> Baby Powder</a></li>
                                            <li><a href="personalcare.html">Diapers & Wipes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vinos<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Todo Vino</h6>
                                            <li><a href="packagedfoods.html">Baby Food</a></li>
                                            <li><a href="packagedfoods.html">Dessert Items</a></li>
                                            <li><a href="packagedfoods.html">Biscuits</a></li>
                                            <li><a href="packagedfoods.html">Breakfast Cereals</a></li>
                                            <li><a href="packagedfoods.html"> Canned Food </a></li>
                                            <li><a href="packagedfoods.html">Chocolates & Sweets</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pisco<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <h6>Todo Pisco</h6>
                                            <li><a href="beverages.html">Green Tea</a></li>
                                            <li><a href="beverages.html">Ground Coffee</a></li>
                                            <li><a href="beverages.html">Herbal Tea</a></li>
                                            <li><a href="beverages.html">Instant Coffee</a></li>
                                            <li><a href="beverages.html"> Tea </a></li>
                                            <li><a href="beverages.html">Tea Bags</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </ul>
                        </li>
                        <li><a href="gourmet.html">Otros</a></li>
                        <li><a href="offers.html">Ofertas</a></li>
                        <li><a href="offers.html">Servicios</a></li>
                        <li><a href="contact.html">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    @RenderBody()

    <!-- //footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_footer_grids">
                <div class="col-md-3 w3_footer_grid">
                    <h3>Contacto</h3>

                    <ul class="address">
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Rs. San Juan Mz C lt 16 <span>Ayacucho</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">prestobar@gmail.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(051) 999 139 707</li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Información</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="about.html">Nosotros</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="contact.html">Contacto</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="faq.html">Preguntas Frecuentes</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Productos Especiales</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Categorías</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="groceries.html">Whisky</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="household.html">Tequila</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="personalcare.html">Vodka</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="packagedfoods.html">Vinos</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Pisco</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="beverages.html">Otros</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3_footer_grid">
                    <h3>Perfil</h3>
                    <ul class="info">
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="products.html">Tienda</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="checkout.html">Mis Compras</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="login.html">Login</a></li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="registered.html">Crear Cuenta</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="footer-copy">

            <div class="container">
                <p>© 2017 PrestoBar. Reservado todos los drechos | Design by <a href="https://www.facebook.com/vfernando89">Inka</a></p>
            </div>
        </div>

    </div>
    <div class="footer-botm">
        <div class="container">
            <div class="w3layouts-foot">
                <ul>
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="payment-w3ls">
                <img src="~/Resources/images/card.png" alt=" " class="img-responsive">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Resources/js/bootstrap.min.js"></script>

    <!-- top-header and slider -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    
    <!-- main slider-banner -->
    <script src="~/Resources/js/skdslider.min.js"></script>
    <link href="~/Resources/css/skdslider.css" rel="stylesheet">
    <script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});

			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});

		});
    </script>

    <script>

        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function AgregarCarrito(productoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

        function CargaCarrito(productos) {
            var html = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<div class="item-in-cart clearfix">' +
                       '    <div class="image">' +
                '             <img src="/ImgProductos/' + this.Imagen + '"  width="50" height="50" alt="cart item" />' +
                '           </div>' +
                '           <div class="desc">' +
                '                 <strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                '                <span class="light-clr qty">Qty: ' + this.Cantidad + ' &nbsp;' +
                '                       <a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                '                    </span>' +
                '                </div>' +
                '                <div class="price">' +
                '                   <strong>S/. ' + this.Precio + '</strong>' +
                '               </div>' +
                '           </div>';
            });
            $('#itemcarrito').html(html);

            $("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

    </script>


</body>
</html>